<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- TOP BAR -->
<div class="top-bar">
    <h2>FitGuide Pro</h2>

    <div>
        <a href="/onboarding" class="btn outline">Edit Profile</a>
        <a href="/logout" class="btn danger">Logout</a>
    </div>
</div>

<div class="profile-bar">
    <div class="profile-header">
        <h2>Your Fitness Profile</h2>
        <a href="/onboarding" class="edit-btn">Edit Profile</a>
    </div>

    <div class="profile-data">
        <span><strong>Age:</strong> {{ user.age }}</span>
        <span><strong>Gender:</strong> {{ user.gender }}</span>
        <span><strong>Height:</strong> {{ user.height }} cm</span>
        <span><strong>Weight:</strong> {{ user.weight }} kg</span>
        <span><strong>Body:</strong> {{ user.body_type }}</span>
        <span><strong>Goal:</strong> {{ user.goal }}</span>
        <span><strong>Level:</strong> {{ user.level }}</span>
    </div>
</div>



<!-- MAIN CARD -->
<div class="dashboard-container">
    <h1>Personalized Workout Planner</h1>

    <form method="POST" action="/exercise-plan" class="filter-card">

        <div class="form-group">
            <label>Muscle Group</label>
            <select name="muscle_group" id="muscle_group" required>
                <option value="" selected disabled>Select Muscle Group</option>
                {% for g in muscle_groups %}
                    <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Sub Muscle</label>
            <select name="sub_muscle" id="sub_muscle" required>
                <option value="" selected disabled>Select Sub Muscle</option>
            </select>
        </div>

        <button type="submit" class="btn primary full">
            Get Exercise Plan
        </button>
    </form>

     <div class="view-diet-wrapper">
    <a href="/diet-plan">
        <button class="view-diet-btn">View Diet Plan</button>
    </a>
</div>


</div>

<script>
document.getElementById("muscle_group").addEventListener("change", function () {
    const groupId = this.value;
    const subMuscleSelect = document.getElementById("sub_muscle");

    subMuscleSelect.innerHTML =
        '<option value="" selected disabled>Select Sub Muscle</option>';

    if (!groupId) return;

    fetch(`/get-sub-muscles/${groupId}`)
        .then(res => res.json())
        .then(data => {
            data.forEach(item => {
                const option = document.createElement("option");
                option.value = item.id;
                option.textContent = item.name;
                subMuscleSelect.appendChild(option);
            });
        });
});
</script>

</body>
</html>
