<!DOCTYPE html>
<html>
<head>
    <title>FitGuide Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>FitGuide Pro 💪</h1>
    <p>Personalized Gym Exercise & Diet Recommendation System</p>
    <hr>
    <h2>User Details</h2>
    <form action="/recommend" method="post">
        <label>Body Type:</label>
        <select name="body_type" required>
            <option value="">--Select--</option>
            <option value="Ectomorph">Ectomorph</option>
            <option value="Mesomorph">Mesomorph</option>
            <option value="Endomorph">Endomorph</option>
        </select>
        <br><br>
        <label>Goal:</label>
        <select name="goal" required>
            <option value="">--Select--</option>
            <option value="Fat Loss">Fat Loss</option>
            <option value="Weight Gain">Weight Gain</option>
            <option value="Body recomposition">Body recomposition</option>
        </select>
        <br><br>

        <label>Experience Level:</label>
        <select name="level" required>
            <option value="">--Select--</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
        </select>
        <br><br>
        <label>Muscle Group:</label>
        <select name="muscle_group" required>
            <option value="">Select</option>
            <option value="Chest">Chest</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Legs">Legs</option>
        </select>
        <br><br>
        <button type="submit">Get Exercise Plan</button>
    </form>

</body>
</html>
